#crm-container label {
    color: #6a6a6a !important;
}

.crm-not-you-message {
    display: none;
}

#crm-container .select2-container .select2-choice {
    line-height: 18px !important;
}

.page-breadcrumb {
    display: none;
}

.bg-grey {
    background-color: transparent !important;
}
